body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', cursive, serif;
    background: #ffffff;
    color: #333;
    text-align: center;
  }
  
  .layout{
    display: flex;
    height: 100vh;
  }
  
  .sidebar{
    width: 220px;
    background-color: #f6f0e4;
    padding: 10px;
  }
  .sidebar h2 {
    margin-bottom: 1rem;
    color: #debaa9;
  }
  debaa9
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: #debaa9;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
  }
  
  .sidebar ul li a:hover {
    color: #8b4900;
    text-decoration: underline;
  }
  
  button {
    background-color: #debaa9;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: 	#8b4900;
  }