<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <nav class="navbar">
    <button id="openNav">☰</button>
    <span class="navbar-brand">Budget</span>
  </nav>

  <!-- Sidebar -->
  <div id="mySidebar" class="sidebar">
    <button onclick="w3_close()">☰</button>
    <ul>
      <li><a href="{{ url_for('personalView') }}">Dashboard</a></li>
      <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
      <li><a href="{{ url_for('wishlist') }}">Wishlist</a></li>
      <li><a href="{{ url_for('tips') }}">Tips</a></li>
      <li><a href="{{ url_for('budget') }}">Budget</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
      
    </ul>
  </div>

  {% block content %}{% endblock %}

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
