<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Simple Sidebar Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <nav class="navbar">
    <button id="openNav">☰</button>
    <span class="navbar-brand">Budget</span>
  </nav>

  <!-- Sidebar -->
  <div id="mySidebar" class="sidebar">
    <button onclick="w3_close()">☰</button>
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Calendar</a></li>
      <li><a href="#">Wishlist</a></li>
      <li><a href="#">Tips</a></li>
      <li><a href="#">Budget</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>

  {% block content %}{% endblock %}

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
