{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<h1>Welcome to your Dashboard</h1>
<div>{{ pie_html|safe }}</div>
<div>{{ bar_html|safe }}</div>

<div class="recent-events-card">
    <h2 class="section-title">Recent Events</h2>
    {% if recent_events %}
      <ul class="event-list">
        {% for event in recent_events %}
          <li class="event-item">
            <strong>{{ event.title }}</strong><br>
            <small>{{ event.date.strftime("%b %d, %Y") }}</small>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No recent events.</p>
    {% endif %}
  </div>

{% endblock %}

