<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Landing Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='landingStyles.css') }}" />
</head>
<body class="landing-body">

  <div class="landing-container">
    <h1 class="landing-title">Welcome!</h1>
    <h2 class="landing-subtitle">Easily manage your budget and keep track of spending.</h2>

    <div class="button-group">
      <a href="{{ url_for('login') }}" class="landing-btn">Log In</a>
      <a href="{{ url_for('signUp') }}" class="landing-btn alt">Register</a>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
